.hero {
    margin-top: 0;
    padding: 15rem 0 5rem 0;
    background-image: url('../../assets/img/header-bg.jpg');
    background-position: 0 55%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    font-family: var(--font-family);
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-container h1 {
    color: white;
    margin: 1rem;
    font-size: 65px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}
.hero-container h2 {
    color: white;
    margin: 1rem;
    font-size: 35px;
    text-transform: capitalize;
}
.hero-container_button {
    background: var(--color-yellow-light);
    margin: 3rem;
    border-radius: 0.25rem;
    padding: 1.5rem 4rem 1.5rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.hero-container_button:hover {
    background: var(--color-yellow-dark);
}
@media screen and (max-width: 1050px) {
    .hero {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-container h1 {
        font-size: 32px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
    }
    .hero-container h2 {
        margin: 1rem;
        font-size: 20px;
        text-transform: capitalize;
    }
}
